*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

.parking-container {
  padding: 1rem;
}

.parking-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem;
}

.registration-number-container label {
  padding: 1em 0;
}

.registration-number-container .registration-number-input {
  height: 1.5rem;
  padding: 0.5em 0.75em;
  margin-left: 1em;
  width: 15vw;
}

.car-color-selector {
  width: 20vw;
}

.park-car-btn {
  padding: 1em;
  border-radius: 10px;
  border: 5px solid teal;
  background-color: inherit;
  font-weight: bold;
  cursor: pointer;
}

.park-car-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.park-car-btn:disabled {
  cursor: no-drop;
}

.parking-lot-container {
  --color-red: #AE030E;
  --color-silver: #DFDFDF;
  --color-white: #FFF;
  --color-black: #000;
  --color-grey: grey;
  display: flex;
  justify-content: center;

}

.parking-lot {
  width: 60vw;
  overflow-x: hidden;
  min-height: 1000px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

.parking-spot {
  height: 100px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

}

.parking-spot:nth-child(2n+1) {
  border-right: 1px solid black;
}

.parking-spot:nth-child(n):not(:nth-last-of-type(2)):not(:nth-last-of-type(1)) {
  border-bottom: 2px dashed black;
}

.parking-spot .car {
  padding: 1rem;
}

.registration-number {
  text-align: center;
}

.car__body.red {
  background-color: var(--color-red);
}

.car__body.silver {
  background-color: var(--color-silver);
}

.car__body.black {
  background-color: var(--color-black);
}

.car__body.grey {
  background-color: var(--color-grey);
}

.parking-reports-container {
  display: flex;
  justify-content: center;
}

.parking-reports-container button {
  padding: 0.5em;
  margin: 0 0.5em;
}